{% load static %}
<!DOCTYPE HTML>
<!--
	Proyecto viviendas
	html, css, js, django
	Trabajo gupal
-->
<html>
	<!-- La cabecera de nuestro proyecto y la llamada a los estilos -->
	<head>
		<title>Proyecto Viviendas</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'home/assets/css/main.css' %}">
		<noscript><link rel="stylesheet" href="{% static 'home/assets/css/main.css' %}" /></noscript>
	</head>
	<!-- Header -->
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index.html" id="logo">Proyecto Viviendas</a></h1>
								<hr />
								<p>Tu hogar empieza aquí. ¡Construyamos juntos un Perú que progresa!</p>
							</header>
							<footer>
								<a href="#banner" class="button circled scrolly">Aquí</a>
							</footer>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="lista_proyectos.html">Casa</a></li>
								<li>
									<a href="#">Menú desplegable</a>
									<ul>
										<li><a href="#">hola</a></li>
										<li><a href="#">hola 1</a></li>
										<li><a href="#">hola 2</a></li>
										<li>
											<a href="#">And a submenu &hellip;</a>
											<ul>
												<li><a href="#">Lorem ipsum dolor</a></li>
												<li><a href="#">Phasellus consequat</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li>
								<li><a href="left-sidebar.html">Left Sidebar</a></li>
								<li><a href="right-sidebar.html">Right Sidebar</a></li>
								<li><a href="no-sidebar.html">No Sidebar</a></li>
							</ul>
						</nav>

				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>No pierdas mas tiempo obten ya <strong>TU PROPIO HOGAR</strong></h2>
						<p>
							Región <a href="http://html5up.net">HTML5 UP</a>.
							Provincia <a href="http://html5up.net/license">CCA</a>.
							Distrito <a href="http://html5up.net/license">CCA</a>.
						</p>
					</header>
				</section>

			<!-- Carousel -->
				<section class="carousel">
					<div class="reel">

						<article>
							<a href="https://suvivienda.pe/properties/gpr-las-lomas-de-yura" class="image featured"><img src="{% static 'home/images/pic17.jpg' %}" alt="" /></a>
							<header>
								<h2><a>AREQUIPA</a></h3>
								<h3><a a href="https://suvivienda.pe/properties/gpr-las-lomas-de-yura">Las Lomas de Yura</a></h3>
							</header>
							<p> Las Lomas de Yura se ubica en el Km 17 de la carretera Arequipa - Puno, en el sector Las Laderas.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'home/images/pic02.jpg' %}" alt="" /></a>
							<header>
								<h3><a>LIMA</a></h3>
								<h3><a href="#">Villa María del Triunfo</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'home/images/pic03.jpg' %}" alt="" /></a>
							<header>
								<h3><a href="#">Cusco</a></h3>
								<h3><a href="#">Distrito de Wanchaq</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'home/images/pic04.jpg' %}" alt="" /></a>
							<header>
								<h3><a href="#">Piura</a></h3>
								<h3><a href="#">Castilla</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'home/images/pic05.jpg' %}" alt="" /></a>
							<header>
								<h3><a href="#">Trujillo (La Libertad)</a></h3>
								<h3><a href="#">Florencia de Mora</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'home/images/pic01.jpg' %}" alt="" /></a>
							<header>
								<h3><a href="#">Chiclayo (Lambayeque)</a></h3>
								<h3><a href="#">José Leonardo Ortiz</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'home/images/pic02.jpg' %}" alt="" /></a>
							<header>
								<h3><a href="#">Huancayo (Junín)</a></h3>
								<h3><a href="#">El Tambo y Chilca</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'home/images/pic03.jpg' %}" alt="" /></a>
							<header>
								<h3><a href="#">Tacna</a></h3>
								<h3><a href="#">Zona Alto de la Alianza</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'home/images/pic04.jpg' %}" alt="" /></a>
							<header>
								<h3><a href="#">Lima Metropolitana</a></h3>
								<h3><a href="#">Carabayllo</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="{% static 'home/images/pic05.jpg' %}" alt="" /></a>
							<header>
								<h3><a href="#">Arequipa</a></h3>
								<h3><a href="#">Villa Hermosa</a></h3>
							</header>
							<p>Commodo id natoque malesuada sollicitudin elit suscipit magna.</p>
						</article>

					</div>
				</section>

			<!-- Main -->
				<div class="wrapper style2">

					<article id="main" class="container special">
						<a href="#" class="image featured"><img src="{% static 'home/images/pic06.jpg' %}" alt="" /></a>
						<header>
							<h2><a href="https://focalizacion.sisfoh.gob.pe/ConsultaCSE/">¡Construyamos el Perú contigo! Descubre si estás focalizado</a></h2>
							<p>
								El Gobierno del Perú, a través del Ministerio de Desarrollo e Inclusión Social (MIDIS), implementa el 
								Sistema de Focalización de Hogares (SISFOH) como herramienta clave para identificar a los hogares en 
								situación de pobreza o vulnerabilidad. Este sistema permite asignar eficientemente los recursos públicos 
								a quienes más lo necesitan.
							</p>
						</header>
						<p>
							El Sistema de Focalización de Hogares (SISFOH) del gobierno del Perú se encarga de clasificar a las familias 
							peruanas según su situación socioeconómica. Esta clasificación se denomina Clasificación Socioeconómica (CSE) 
							y se utiliza para determinar si un hogar califica para acceder a programas sociales como Techo Propio, 
							Pensión 65, Juntos, entre otros. Existen tres niveles de clasificación: No pobre, que corresponde a 
							hogares con condiciones económicas aceptables; Pobre, que incluye a los hogares con recursos limitados y que 
							pueden acceder a ciertos beneficios sociales; y Pobre 
							extremo, que identifica a los hogares en situación de alta vulnerabilidad económica, los cuales acceden a 
							una mayor cantidad de ayudas por parte del Estado.
						</p>
						<footer>
							<a href="https://focalizacion.sisfoh.gob.pe/ConsultaCSE/" class="button">haz clic aquí.</a>
						</footer>
					</article>

				</div>

			<!-- Features -->
				<div class="wrapper style1">

					<section id="features" class="container special">
						<header>
							<h2>bcnnnbjhvj</h2>
							<p>Ipsum volutpat consectetur orci metus consequat imperdiet duis integer semper magna.</p>
						</header>
						<div class="row">
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{% static 'home/images/pic07.jpg' %}" alt="" /></a>
								<header>
									<h3><a href="#">Gravida aliquam penatibus</a></h3>
								</header>
								<p>
									Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
									porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{% static 'home/images/pic08.jpg' %}" alt="" /></a>
								<header>
									<h3><a href="#">Sed quis rhoncus placerat</a></h3>
								</header>
								<p>
									Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
									porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
							</article>
							<article class="col-4 col-12-mobile special">
								<a href="#" class="image featured"><img src="{% static 'home/images/pic09.jpg' %}" alt="" /></a>
								<header>
									<h3><a href="#">Magna laoreet et aliquam</a></h3>
								</header>
								<p>
									Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
									porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
								</p>
							</article>
						</div>
					</section>

				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">

							<!-- Tweets -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon brands fa-twitter circled"><span class="label">Tweets</span></h2>
									</header>
									<ul class="divided">
										<li>
											<article class="tweet">
												Amet nullam fringilla nibh nulla convallis tique ante sociis accumsan.
												<span class="timestamp">5 minutes ago</span>
											</article>
										</li>
										<li>
											<article class="tweet">
												Hendrerit rutrum quisque.
												<span class="timestamp">30 minutes ago</span>
											</article>
										</li>
										<li>
											<article class="tweet">
												Curabitur donec nulla massa laoreet nibh. Lorem praesent montes.
												<span class="timestamp">3 hours ago</span>
											</article>
										</li>
										<li>
											<article class="tweet">
												Lacus natoque cras rhoncus curae dignissim ultricies. Convallis orci aliquet.
												<span class="timestamp">5 hours ago</span>
											</article>
										</li>
									</ul>
								</section>

							<!-- Posts -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon solid fa-file circled"><span class="label">Posts</span></h2>
									</header>
									<ul class="divided">
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Nisl fermentum integer</a></h3>
												</header>
												<span class="timestamp">3 hours ago</span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Phasellus portitor lorem</a></h3>
												</header>
												<span class="timestamp">6 hours ago</span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Magna tempus consequat</a></h3>
												</header>
												<span class="timestamp">Yesterday</span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href="#">Feugiat lorem ipsum</a></h3>
												</header>
												<span class="timestamp">2 days ago</span>
											</article>
										</li>
									</ul>
								</section>

							<!-- Photos -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon solid fa-camera circled"><span class="label">Photos</span></h2>
									</header>
									<div class="row gtr-25">
										<div class="col-6">
											<a href="#" class="image fit"><img src="{% static 'home/images/pic10.jpg' %}" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="{% static 'home/images/pic11.jpg' %}" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="{% static 'home/images/pic12.jpg' %}" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="{% static 'home/images/pic13.jpg' %}" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="{% static 'home/images/pic14.jpg' %}" alt="" /></a>
										</div>
										<div class="col-6">
											<a href="#" class="image fit"><img src="{% static 'home/images/pic15.jpg' %}" alt="" /></a>
										</div>
									</div>
								</section>

						</div>
						<hr />
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>Nisl turpis nascetur interdum?</h3>
										</header>
										<p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
										<ul class="icons">
											<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
											<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
											<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
            <script src="{% static 'home/assets/js/jquery.min.js' %}"></script>
            <script src="{% static 'home/assets/js/jquery.dropotron.min.js' %}"></script>
            <script src="{% static 'home/assets/js/jquery.scrolly.min.js' %}"></script>
            <script src="{% static 'home/assets/js/jquery.scrollex.min.js' %}"></script>
            <script src="{% static 'home/assets/js/browser.min.js' %}"></script>
            <script src="{% static 'home/assets/js/breakpoints.min.js' %}"></script>
            <script src="{% static 'home/assets/js/util.js' %}"></script>
            <script src="{% static 'home/assets/js/main.js' %}"></script>

	</body>
</html>